:root {
  /* fonts */
  font-size: 18px;
  --title: 6rem;
  --sub-title: 30px;
  --nav: 24px;

  /* colours */
  --white: #f3f3f3;
  --darkGrey: #303030;
  --darkBlue: #0f2f6b;
  --lightBlue: #2c4e80;
  --primary: #ff5922;
  --secondary: #ffc55a;

  /* transition speed */
  --transition: all 600ms ease;
}

/* media queries */
/* large screen */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 18rem;
  }

  .navbar:hover .link-text {
    display: block;
  }
}

/* mid screen */

/* small screen */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    height: 5rem;
    width: 100vw;
  }

  ul .logo {
    display: none;
  }

  nav .navbar-list {
    flex-direction: row;
    align-items: center;
  }

  ul .nav-item:last-child {
    margin-top: 0;
    padding: 0;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin-left: 0;
  }

  .about-container .about-top {
    height: 60vh;
  }

  .about-container .about-bottom {
    flex-direction: column;
    height: calc(40vh - 5rem);
  }

  .about-container .about-bottom h1 {
    font-size: 2rem;
  }
}

/* main body*/
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--darkGrey);
  background-color: var(--white);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: var(--darkGrey);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

main {
  padding: 0;
}

/* navbar */
.navbar {
  z-index: 10;
  position: fixed;
  background: linear-gradient(to right, rgb(15, 47, 107), rgb(44, 78, 128));
  transition: var(--transition);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  height: 5rem;
}

.logo-text {
  display: none;
  margin-left: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--darkBlue);
  font-size: var(--sub-title);
}

.navbar:hover .logo-text {
  display: block;
}

.logo svg {
  max-width: 3rem;
  margin: 0 1rem;
  color: var(--darkBlue);
  transform: rotate(0deg);
  transition: var(--transition);
}

.navbar:hover .logo svg {
  color: var(--lightBlue);

  transform: rotate(-180deg);
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link,
.logo {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  background: var(--lightBlue);
}

.link-text {
  display: none;
  margin-left: 2rem;
  font-size: var(--nav);
  font-weight: 200;
}

.nav-link svg {
  max-width: 2.5rem;
  margin: 0 1rem;
  transition: 600ms;
}

.nav-link:hover svg {
  color: var(--primary);
}

/* pages */
.page {
  height: 100vh;
  scroll-snap-align: center;
}

/* about */
.about-top {
  width: 100%;
  height: 80vh;
  background: url("/assets/images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
}

.logo-img {
  height: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.about-bottom {
  width: 100%;
  height: 20vh;
  background-color: var(--lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-bottom h1 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 3rem;
  letter-spacing: 4px;
  color: var(--white);
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
}
